.flash-card {
  $root: &;
  width: 100%;
  max-width: var(--card-width);
  aspect-ratio: var(--card-aspect-ratio);
  position: relative;
  transition: transform 0.3s;
  
  &--topic {
    &_js {
      #{$root}__side {
        background-color: #f2ebb8;
        border: 8px solid #f7df1e;
      }
    }
  }

  &--flipped {
    #{$root}__side {
      &--back {
        transform: rotateY(0deg);
        z-index: 2;
      }
      &--front {
        transform: rotateY(180deg);
        z-index: 1;
      }
    }
  }

  &__side {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    top: 0;
    transition: transform 0.3s;
    padding: 24px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

    &--back {
      transform: rotateY(180deg);
      z-index: 1;
    }

    &--front {
      z-index: 2;
    }
  }
}