/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --card-width: 240px;
  --card-aspect-ratio: 0.64;
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #111;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
  background: linear-gradient(0deg, red, #800080);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#root {
  display: flex;
  width: 100%;
  min-height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}

a:hover {
  color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
